<header class="header">
  <ul class="header__nav">
    <li class="header__item">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>

    <li class="header__item">
      <a routerLink="/todos" routerLinkActive="active">My Todos</a>
    </li>

    <li class="header__item">
      @if(!isLoggedIn){
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Registration</a>
      }@else {
        <a (click)="onLogout()">Log out</a>
      }
    </li>
  </ul>
</header>

<section class="section-todo">
  <header class="section-todo__header">
    <h3 class="section-todo__header__heading">All Todos:</h3>
  </header>
  <div class="section-todo__container-box">
    <app-todo-container></app-todo-container>
  </div>
</section>
